<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{../static/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="../../static/css/style.css"
          th:href="@{../../static/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>


<script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>


