<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>St. Mark's | Guidance Report</title>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div id="wrapper">
    <div class="container-fluid" style="background-color: #122b40;">
        <div class="row" style="  background-color: #122b40;">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!-- ETO SIMULA NG PAGE -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Guidance Report</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Name:</h5>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Input Student Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Year/Level:</h5>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Input Year/Level"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Parent/Guardian:</h5>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Input Parent/Guardian:"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Date of Incident:</h5>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="mm/dd/yyyy"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Time of Incident:</h5>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="hh:mm"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Case of Incident:</h5>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option></option>
                            <option>Minor</option>
                            <option>Major</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <!--removed 5/5/18-->
            <!--<input type="checkbox" data-toggle="toggle" data-on="SMS" data-off="NOTIFICATION"/>-->
            <div class="col-lg-12">
                <!--<div class="row">-->
                <!--<div class="col-lg-7">-->
                <!--<div class="row" style="padding: 20px;">-->
                <!--<button onclick="byAll()" class="btn btn-primary">Send All</button>-->
                <!--<button onclick="byClass()" class="btn btn-primary">By Class</button>-->
                <!--<button onclick="byParent()" class="btn btn-primary">By Parent</button>-->
                <!--</div>-->
                <!--<div class="form-group" id="byParent" style="display: none; padding: 20px ">-->
                <!--<label>Input Parent Id</label>-->
                <!--<input class="form-control"/>-->
                <!--</div>-->

                <!--<div class="form-group" id="byAll" style="display: none; padding: 20px ">-->
                <!--<label>Send to ALL</label>-->

                <!--</div>-->

                <!--<div class="form-group" id="byClass" style="display: none; padding: 20px;">-->
                <!--<label>Select Class</label>-->
                <!--<div class="row" style="padding: 10px">-->
                <!--<button onclick="byClass0()" class="btn btn-primary">NURSERY</button>-->
                <!--<button onclick="byClass1()" class="btn btn-primary">GRADE 1</button>-->
                <!--<button onclick="byClass2()" class="btn btn-primary">GRADE 2</button>-->
                <!--<button onclick="byClass3()" class="btn btn-primary">GRADE 3</button>-->


                <!--</div>-->
                <!--<div class="row" style="padding: 10px">-->
                <!--<button onclick="byClass4()" class="btn btn-primary">GRADE 4</button>-->
                <!--<button onclick="byClass5()" class="btn btn-primary">GRADE 5</button>-->
                <!--<button onclick="byClass6()" class="btn btn-primary">GRADE 6</button>-->
                <!--<button onclick="byClass7()" class="btn btn-primary">GRADE 7</button>-->


                <!--</div>-->
                <!--<div class="row" style="padding: 10px">-->
                <!--<button onclick="byClass8()" class="btn btn-primary">GRADE 8</button>-->
                <!--<button onclick="byClass9()" class="btn btn-primary">GRADE 9</button>-->
                <!--<button onclick="byClass10()" class="btn btn-primary">GRADE 10</button>-->
                <!--<button onclick="byClass11()" class="btn btn-primary">GRADE 11</button>-->

                <!--</div>-->
                <!--<div class="row" style="padding: 10px">-->
                <!--<button onclick="byClass12()" class="btn btn-primary">GRADE 12</button>-->
                <!--<button onclick="byClass13()" class="btn btn-primary">GRADE 13</button>-->
                <!--<button onclick="byClass14()" class="btn btn-primary">GRADE 14</button>-->
                <!--<button onclick="byClass15()" class="btn btn-primary">GRADE 15</button>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass0" style="display: none">-->
                <!--<label>Send to ALL Nursery</label>-->

                <!--</div>-->
                <!--<div class="form-group" id="byClass1" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 1</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 1</option>-->
                <!--<option>Afghanite</option>-->
                <!--<option>Agate</option>-->
                <!--<option>Alexandrite</option>-->
                <!--<option>Amazonite</option>-->
                <!--<option>Amber</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass2" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 2</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 2</option>-->
                <!--<option>Amethyst</option>-->
                <!--<option>Ametrine</option>-->
                <!--<option>Ammolite</option>-->
                <!--<option>Andalusite</option>-->
                <!--<option>Andesine</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass3" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 3</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 3</option>-->
                <!--<option>Apatite</option>-->
                <!--<option>Aquamarine</option>-->
                <!--<option>Aventurine</option>-->
                <!--<option>Azurite</option>-->
                <!--<option>Benitoite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass4" style="display: none; padding: 20px">-->
                <!--<label>Select Section From Grade 4</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 4</option>-->
                <!--<option>Beryl</option>-->
                <!--<option>Bloodstone</option>-->
                <!--<option>Calcite</option>-->
                <!--<option>Carnelian</option>-->
                <!--<option>Cavanaite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass5" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 5</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 5</option>-->
                <!--<option>Chalcedony</option>-->
                <!--<option>Charoite</option>-->
                <!--<option>Chrysoberyl</option>-->
                <!--<option>Chrysocolla</option>-->
                <!--<option>Chrysoprase</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass6" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 6</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 6</option>-->
                <!--<option>Citrine</option>-->
                <!--<option>Coral</option>-->
                <!--<option>Danburite</option>-->
                <!--<option>Diamond</option>-->
                <!--<option>Diaspore</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass7" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 7</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 7</option>-->
                <!--<option>Dioptase</option>-->
                <!--<option>Druzy</option>-->
                <!--<option>Emerald</option>-->
                <!--<option>Eudialye</option>-->
                <!--<option>Fluorite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass8" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 8</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 8</option>-->
                <!--<option>Fuchsite</option>-->
                <!--<option>Garnet</option>-->
                <!--<option>Hackmanite</option>-->
                <!--<option>Heliodor</option>-->
                <!--<option>Hematite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass9" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 9</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 9</option>-->
                <!--<option>Howlite</option>-->
                <!--<option>Iolite</option>-->
                <!--<option>Ironstone</option>-->
                <!--<option>Jade</option>-->
                <!--<option>Jasper</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass10" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 10</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 10</option>-->
                <!--<option>Jeremejevite</option>-->
                <!--<option>Kunzite</option>-->
                <!--<option>Kyanite</option>-->
                <!--<option>Labradorite</option>-->
                <!--<option>Lapiz Lazuli</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass11" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 11</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 11</option>-->
                <!--<option>Larimar</option>-->
                <!--<option>Lava Rock</option>-->
                <!--<option>Lazurite</option>-->
                <!--<option>Lepidolite</option>-->
                <!--<option>Magnetite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass12" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 12</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 12</option>-->
                <!--<option>Malachite</option>-->
                <!--<option>Meteorite</option>-->
                <!--<option>Moldavite</option>-->
                <!--<option>Moonstone</option>-->
                <!--<option>Morganite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass13" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 13</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 13</option>-->
                <!--<option>Mystic Quartz</option>-->
                <!--<option>Obsidian</option>-->
                <!--<option>Onyx</option>-->
                <!--<option>Opalite</option>-->
                <!--<option>Pearl</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass14" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 14</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 14</option>-->
                <!--<option>Peridot</option>-->
                <!--<option>Peruvian</option>-->
                <!--<option>Petalite</option>-->
                <!--<option>Pieterite</option>-->
                <!--<option>Prasiolite</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group" id="byClass15" style="display: none; padding: 20px ">-->
                <!--<label>Select Section From Grade 15</label>-->
                <!--<select class="form-control">-->
                <!--<option>Send to ALL Grade 15</option>-->
                <!--<option>Prehnite</option>-->
                <!--<option>Pyrite</option>-->
                <!--<option>Quartz</option>-->
                <!--<option>Rhodonite</option>-->
                <!--<option>Ruby</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row" style="padding: 20px">

                    <div class="col-lg-6">

                        <textarea id="message" class="form-control" rows="3"
                                  placeholder="Enter Message Here"></textarea>
                    </div>
                    <br/>
                    <br/>

                </div>
                <button type="submit" onclick="sendSms()" class="btn btn-primary" style="padding: 20px ">SEND</button>
            </div>
            <!--<textarea  style="margin: 0px; width: 446px; height: 85px;" maxlength="140"></textarea>-->
        </div>
    </div>


    <!--SEND TO: <input id="prefix" type="text" disabled="disabled" value="63" placeholder="+63" maxlength="4"/> <input type="text" id="to"/>-->
    <!--<label>Format: +63 XXXXXXXXXX</label>-->


    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


<script type="text/javascript">
    // Initialize Firebase

    //    var from = "63"+ document.getElementById('from').value;
    //    var sentTo = pref + to;

    function sendSms() {
//        var announcement = document.getElementById('message').value;
//        var to = '63'+document.getElementById('to').value;
////        var pref = document.getElementById('prefix').value;
//
//        var msgId = guid();
//        var xhr = new XMLHttpRequest();
//        var url = "https://post.chikka.com/smsapi/request";
//        xhr.open("POST", url, true);
//        xhr.setRequestHeader("Content-type", "application/json");
//
//        var data = JSON.stringify({"message_type": "SEND", "mobile_number": "639954835023", "shortcode": "292903147", "message_id": "ccc81279fcc048d1a6fcc52ed4c14255", "message": "HI", "client_id": "230d0648f6672956b8fc2bed85a480ebb32b296a412e2672714096c37bebebcd", "secret_key": "da51dc811a15e7f7b10784f1e7266b350efe07d13792c0735a4b406e1332c490"});
//        xhr.send(data);
//        $.post("https://post.chikka.com/smsapi/request", {
//            message_type: "SEND",
//            mobile_number: to,
//            shortcode: "292903147",
//            message_id: msgId,
//            message: announcement,
//            client_id: "230d0648f6672956b8fc2bed85a480ebb32b296a412e2672714096c37bebebcd",
//            secret_key: "da51dc811a15e7f7b10784f1e7266b350efe07d13792c0735a4b406e1332c490"
//        }, function (data, status) {
//            alert("Data: " + data + "\nStatus: " + status);
//        });

        $.get("http://gateway.onewaysms.ph:10001/api.aspx", {
            apiusername: "APIXV4PYFBUJJ",
            apipassword: "APIXV4PYFBUJJBLB47",
            mobileno: "09176996988",
            senderid: "292903149",
            languagetype: "1",
            message: "HI ALFRED VARGAS IV, SAW YOUR PROFILE AND THIS IS TO INFORM YOU THAT YOU ONLY HAVE 1 HOUR LEFT TO TELL EVERYBODY THAT IT IS THE END OF THE WORLD - ANONYMOUS"
        }, function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        });
//        function guid() {
//            function s4() {
//                return Math.floor((1 + Math.random()) * 0x10000)
//                    .toString(16)
//                    .substring(1);
//            }
//            var ret = '';
//            var x=0;
//            while(x != 8){
//                ret += s4();
//                x++;
//            }
//            return ret;
//        }
    }
    function byAll() {
        var x = document.getElementById("byAll");
        var y = document.getElementById("byParent");
        var z = document.getElementById("byClass");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass() {
        var x = document.getElementById("byClass");
        var y = document.getElementById("byParent");
        var z = document.getElementById("byAll");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byParent() {
        var x = document.getElementById("byParent");
        var y = document.getElementById("byClass");
        var z = document.getElementById("byAll");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }


    function byClass0() {
        var x = document.getElementById("byClass0");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function byClass1() {
        var x = document.getElementById("byClass1");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass2() {
        var x = document.getElementById("byClass2");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass3() {
        var x = document.getElementById("byClass3");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass4() {
        var x = document.getElementById("byClass4");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass5() {
        var x = document.getElementById("byClass5");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass6() {
        var x = document.getElementById("byClass6");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass7() {
        var x = document.getElementById("byClass7");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass8() {
        var x = document.getElementById("byClass8");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass9() {
        var x = document.getElementById("byClass9");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass10() {
        var x = document.getElementById("byClass10");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass11() {
        var x = document.getElementById("byClass11");
        if (x.style.display === "none") {
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function byClass12() {
        var x = document.getElementById("byClass12");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass13() {
        var x = document.getElementById("byClass13");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass14() {
        var x = document.getElementById("byClass14");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
            document.getElementById("byClass15").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    function byClass15() {
        var x = document.getElementById("byClass15");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }


    //    function bySection1() {
    //        var x = document.getElementById("bySection1");
    //        if (x.style.display === "none") {
    //            x.style.display = "none";
    //        } else {
    //            x.style.display = "block";
    //        }
    //    }
</script>
</body>
</html>