<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>St. Mark's | Guidance Report</title>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $('#datePicker').datepicker();
        });
    </script>

</head>
<body>

<div id="wrapper">
    <div class="container-fluid" style="background-color: #122b40;">
        <div class="row" style="  background-color: #122b40;">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!-- ETO SIMULA NG PAGE -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Guidance Report</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Student ID:</h5>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" th:required="required" placeholder="Input Student ID" onkeypress="return runScript(event)"
                               id="studId"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Name:</h5>
                    </div>
                    <div class="col-md-8">
                        <input disabled="disabled" class="form-control" placeholder="Input Student Name" id="studName"
                               th:required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Year/Level:</h5>
                    </div>
                    <div class="col-md-8">
                        <input disabled="disabled" class="form-control" placeholder="Input Year/Level" id="studYear"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Parent/Guardian:</h5>
                    </div>
                    <div class="col-md-8">
                        <input disabled="disabled" type="text" id="studGuardian" th:required="required" class="form-control"
                               placeholder="Input Parent/Guardian:"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Date of Incident:</h5>
                    </div>
                    <div class="col-md-8">
                        <input type="text" th:required="required" id="datePicker" class="form-control" placeholder="mm/dd/yyyy"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Case of Incident:</h5>
                    </div>
                    <div class="col-md-8">
                        <select id="selected" th:required="required" class="form-control">
                            <option></option>
                            <option id="1" value="Minor">Minor</option>
                            <option id="2" value="Major">Major</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Violation:</h5>
                    </div>
                    <div class="col-md-8">
                        <input type="text" th:required="required" id="violation" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>

        <label>Message to Parent</label>
        <div class="row">


            <!--removed 5/5/18-->
            <!--<input type="checkbox" data-toggle="toggle" data-on="SMS" data-off="NOTIFICATION"/>-->
            <div class="col-lg-12">

                <!--<div class="row" style="padding: 20px">-->

                    <!--<div class="col-lg-6">-->

                        <!--<textarea id="message" class="form-control" rows="3"-->
                                  <!--th:required="required" placeholder="Enter Message Here"></textarea>-->
                    <!--</div>-->
                    <!--<br/>-->
                    <!--<br/>-->

                <!--</div>-->
                <button type="submit" onclick="sendSms()" class="btn btn-primary" style="padding: 20px ">SEND</button>
            </div>
            <!--<textarea  style="margin: 0px; width: 446px; height: 85px;" maxlength="140"></textarea>-->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


<script type="text/javascript">
    // Initialize Firebase

    //    var from = "63"+ document.getElementById('from').value;
    //    var sentTo = pref + to;
    function runScript(e) {
        if (e.keyCode == 13) {
            var studId = $("#studId").val();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                url: '/getStudentByStudId?id=' + studId,
                success: function (response) {
                    if(response.responseCode == 404)
                        alert('Student does not exist.');
                    else {
                        $("#studName").val(response.stud.firstName + ' ' + response.stud.lastName);
                        $("#studYear").val(response.stud.gradeLvlId);
                        $("#studGuardian").val(response.guardianName);
                    }
                },
                error: function () {
                    alert("FAILED");
                }
            });
            return true;
        }
    }


    function sendSms() {

        var studId = $("#studId").val();
        var guardianName = $("#studGuardian").val();
        var message = $("#message").val();
        var dateOfIncident = $("#datePicker").val();
        var caseOfIncident = $("#selected option:selected").val();
        var violation = $("#violation").val();


        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '/postGuidanceReport',
            data: JSON.stringify({
                studentId: studId,
                guardianName: guardianName,
                // message: message,
                dateOfIncident: dateOfIncident,
                caseOfIncident: caseOfIncident,
                violation: violation
            }),
            success: function (response) {
                alert("SUCCESS");
                if(null != response.contactNo)
                    if(response.contactNo != '')
                        proceedSMS(response.contactNo, response.message);
            },
            error: function () {
                console.log("Error sending SMS.");
            }
        });
    }

    function proceedSMS(contactNo, message) {
        if(null != contactNo) {
            $.get("http://gateway.onewaysms.ph:10001/api.aspx", {
                apiusername: "APIE4DYUT3XMS",
                apipassword: "APIE4DYUT3XMSE4DYU",
                mobileno: contactNo,
                senderid: "292903166",
                languagetype: "1",
                message: message
            }, function (data, status) {
                alert("Data: " + data + "\nStatus: " + status);
            });
            alert('Message Sent!.');
        }else {

        }
    }

    //        var announcement = document.getElementById('message').value;
    //        var to = '63'+document.getElementById('to').value;
    ////        var pref = document.getElementById('prefix').value;
    //
    //        var msgId = guid();
    //        var xhr = new XMLHttpRequest();
    //        var url = "https://post.chikka.com/smsapi/request";
    //        xhr.open("POST", url, true);
    //        xhr.setRequestHeader("Content-type", "application/json");
    //
    //        var data = JSON.stringify({"message_type": "SEND", "mobile_number": "639954835023", "shortcode": "292903147", "message_id": "ccc81279fcc048d1a6fcc52ed4c14255", "message": "HI", "client_id": "230d0648f6672956b8fc2bed85a480ebb32b296a412e2672714096c37bebebcd", "secret_key": "da51dc811a15e7f7b10784f1e7266b350efe07d13792c0735a4b406e1332c490"});
    //        xhr.send(data);
    //        $.post("https://post.chikka.com/smsapi/request", {
    //            message_type: "SEND",
    //            mobile_number: to,
    //            shortcode: "292903147",
    //            message_id: msgId,
    //            message: announcement,
    //            client_id: "230d0648f6672956b8fc2bed85a480ebb32b296a412e2672714096c37bebebcd",
    //            secret_key: "da51dc811a15e7f7b10784f1e7266b350efe07d13792c0735a4b406e1332c490"
    //        }, function (data, status) {
    //            alert("Data: " + data + "\nStatus: " + status);
    //        });

    //        $.get("http://gateway.onewaysms.ph:10001/api.aspx", {
    //            apiusername: "APIXV4PYFBUJJ",
    //            apipassword: "APIXV4PYFBUJJBLB47",
    //            mobileno: "09176996988",
    //            senderid: "292903149",
    //            languagetype: "1",
    //            message: "HI ALFRED VARGAS IV, SAW YOUR PROFILE AND THIS IS TO INFORM YOU THAT YOU ONLY HAVE 1 HOUR LEFT TO TELL EVERYBODY THAT IT IS THE END OF THE WORLD - ANONYMOUS"
    //        }, function (data, status) {
    //            alert("Data: " + data + "\nStatus: " + status);
    //        });
    //        function guid() {
    //            function s4() {
    //                return Math.floor((1 + Math.random()) * 0x10000)
    //                    .toString(16)
    //                    .substring(1);
    //            }
    //            var ret = '';
    //            var x=0;
    //            while(x != 8){
    //                ret += s4();
    //                x++;
    //            }
    //            return ret;
    //        }


    function byClass15() {
        var x = document.getElementById("byClass15");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("byClass1").style.display = "none";
            document.getElementById("byClass2").style.display = "none";
            document.getElementById("byClass3").style.display = "none";
            document.getElementById("byClass4").style.display = "none";
            document.getElementById("byClass5").style.display = "none";
            document.getElementById("byClass6").style.display = "none";
            document.getElementById("byClass7").style.display = "none";
            document.getElementById("byClass8").style.display = "none";
            document.getElementById("byClass9").style.display = "none";
            document.getElementById("byClass10").style.display = "none";
            document.getElementById("byClass11").style.display = "none";
            document.getElementById("byClass12").style.display = "none";
            document.getElementById("byClass13").style.display = "none";
            document.getElementById("byClass14").style.display = "none";
            document.getElementById("byClass0").style.display = "none";
        } else {
            x.style.display = "none";
        }
    }


    //    function bySection1() {
    //        var x = document.getElementById("bySection1");
    //        if (x.style.display === "none") {
    //            x.style.display = "none";
    //        } else {
    //            x.style.display = "block";
    //        }
    //    }
</script>
</body>
</html>