<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>St. Mark's Institute</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body style="background-color: #122b40" id="body">
<div class="container-fluid" style="background-color:#122b40;">
    <div class="page-wrapper">
        <div class="row">

            <div class="col-md-12">
                <center><img src="../static/images/header_image.jpg" width="1400" height="180"/></center>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6" style="border-style:solid; margin-left:140px; border-color:white; height: 585px; width: 500px; border-width:4px;">
                <table style="float: left; margin-left: 20px; margin-right: 20px;">
                    <tbody>
                    <tr>
                        <th style="float: left;"><h2
                                style="color: white; font-size: 20px; padding-left:210px;">  <b> IN</b></h2></th>
                    </tr>
                    <tr>
                    <tr>
                        <th style="float: left;"><h5
                            style="color: white; font-size: 5px;">&nbsp; &nbsp;</h5></th>
                    </tr>
                        <td colspan="2">
                            <center>  <img id="imageIn" width="250" height="250"/></center>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <th style="float: left;"><h5
                                style="color: white; font-size: 5px;">&nbsp; &nbsp;</h5></th>
                    </tr>
                        <td>
                            <h4 style="color: white; font-size: 20px;">Full Name :</h4>
                        </td>

                        <td id="fullname1" style="color: white; font-size: 20px;"
                            th:text="${stud.firstName + ' ' + stud.middleName + ' ' + stud.lastName}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 style="color: white; font-size: 20px;">Grade :</h4>
                        </td>
                        <td id="gradeLevel1" style="color: white; font-size: 20px;" th:text="${studGradelvl}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 style="color: white; font-size: 20px;">Section :</h4>
                        </td>
                        <td id="section1" style="color: white; font-size: 20px;" th:text="${stud.sectionDesc}">
                        </td>
                    </tr>
                    <tr th:if="${stud.violation}">
                        <td>
                            <h4 style="color: white; font-size: 20px;">Note :</h4>
                        </td>
                        <td id="section1" style="color: white; font-size: 20px;">Kindly go to the Guidance Office.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6" style="border-style:solid;margin-left: 100px; border-color:white; height: 585px; width: 500px; border-width:4px;">
                <table style="float: left; margin-left: 20px; margin-right: 20px;">
                    <tbody>
                    <tr>
                        <th style="float: left;"><h2
                                style="color: white; font-size: 20px; padding-left:210px;">  <b> OUT</b></h2></th>
                    </tr>
                    <tr>
                        <th style="float: left;"><h4
                                style="color: white; font-size: 10px;">&nbsp; &nbsp;</h4></th>
                    </tr>
                                       <tr>
                        <td colspan="2">
                            <center> <img id="imageOut" width="250" height="250"/></center>
                        </td>
                    </tr>
                    <tr>
                        <th style="float: left;"><h5
                                style="color: white; font-size: 5px;">&nbsp; &nbsp;</h5></th>
                    </tr>
                    <tr>
                        <td>
                            <h4 style="color: white">Full Name :</h4>
                        </td>
                        <td id="fullname2" style="color: white; font-size: 20px;"
                            th:text="${stud1.firstName + ' ' + stud1.middleName + ' ' + stud1.lastName}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 style="color: white; font-size: 20px;">Grade :</h4>
                        </td>
                        <td id="gradeLevel2" style="color: white; font-size: 20px;" th:text="${studGradelvl1}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 style="color: white; font-size: 20px;">Section :</h4>
                        </td>
                        <td id="section2" style="color: white; font-size: 20px;" th:text="${stud1.sectionDesc}">
                        </td>
                    </tr>
                    <tr th:if="${stud2.violation}">
                        <td>
                            <h4 style="color: white; font-size: 20px;">Note :</h4>
                        </td>
                        <td id="section1" style="color: white; font-size: 20px;">Kindly go to the Guidance Office.
                        </td>
                    </tr>
                    </tbody>
                </table>
                <label id="studInId" th:text="${stud.id}" hidden="true"></label>
                <label id="studOutId" th:text="${stud1.id}" hidden="true"></label>
            </div>
        </div>
    </div>
</div>
<script>
    //<![CDATA[
    var isFullScreen = false;
    $(document).ready(function () {
        $('#body').on('click', function () {
            console.log("this");
            if (!isFullScreen)
                toggleFullScreen(this);
        });

        var studIn = $('#studInId').text();
        var studOut = $('#studOutId').text();
        loadImage(studIn, 1);
        loadImage(studOut, 2);
    });

    function toggleFullScreen(elem) {
        isFullScreen = true;
        console.log(document);
        console.log(elem);
        // ## The below if statement seems to work better ## if ((document.fullScreenElement && document.fullScreenElement !== null) || (document.msfullscreenElement && document.msfullscreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen)) {
        if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) ||
            (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) ||
            (document.mozFullScreen !== undefined && !document.mozFullScreen) ||
            (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
            if (elem.requestFullScreen) {
                elem.requestFullScreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullScreen) {
                elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            }
        } else {
            // if (document.cancelFullScreen) {
            //     document.cancelFullScreen();
            // } else if (document.mozCancelFullScreen) {
            //     document.mozCancelFullScreen();
            // } else if (document.webkitCancelFullScreen) {
            //     document.webkitCancelFullScreen();
            // } else if (document.msExitFullscreen) {
            //     document.msExitFullscreen();
            // }
        }
        $('#rfidTag').focus();
    }

    var charArray = [];
    window.onkeyup = function (e) {

        var numbers = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'];
        var hit = false;
        for (var x = 0; x < numbers.length; x++)
            if (numbers[x] === e.key) {
                hit = true;
                break;
            }
        if (hit)
            charArray.push(e.key);

        if (charArray.length)
            if (e.key === 'Enter' || charArray.length >= 10) {
                var toSend = charArray.join('');
                console.log("ToSend:" + toSend);
                charArray = [];
                if (toSend.length >= 10) {

                    $.ajax({
                        type: 'GET',
                        contentType: 'application/json; charset=utf-8',
                        url: '/monitorStudent',
                        data: {rfid: toSend},
                        success: function (response) {
                            console.log(response);
                            var stud1 = response.studIn;
                            var stud2 = response.studOut;
                            $('#fullname1').text(stud1.firstName + ' ' + stud1.lastName);
                            $('#fullname2').text(stud2.firstName + ' ' + stud1.lastName);
                            $('#gradeLevel1').text(stud1.gradeLvlId);
                            $('#gradeLevel2').text(stud2.gradeLvlId);
                            $('#section1').text(stud1.sectionDesc);
                            $('#section2').text(stud2.sectionDesc);
                            $('#dateTime1').text(response.timeIn);
                            $('#dateTime2').text(response.timeOut);
                            loadImage(response.studIn.id, 1);
                            loadImage(response.studOut.id, 2);
                            if (response.contactNo != '')
                                proceedSMS(response.contactNo, response.student.firstName + ' ' + response.student.lastName, response.tapMode, new Date());
                        },
                        error: function (response) {
                            console.log("Error pulling image.");
                        }
                    });
                }
            }
        console.log(charArray.join(''));
    }

    function proceedSMS(contactNo, name, tapMode, dateTime) {
        console.log('date', dateTime);
        var message = 'Your child ' + name + ' has tapped ' + tapMode;
        message += ' the school. ** This is a free message. Please do not reply. ';
        message += dateTime;
        if (null != contactNo) {
            console.log("Sending SMS");
            $.get("http://gateway.onewaysms.ph:10001/api.aspx", {
                apiusername: "APIE4DYUT3XMS",
                apipassword: "APIE4DYUT3XMSE4DYU",
                mobileno: contactNo,
                senderid: "292903166",
                languagetype: "1",
                message: message
            }, function (data, status) {
                alert("Data: " + data + "\nStatus: " + status);
            });
        }
    }

    var loadImage = function (studId, mode) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/loadImage',
            data: {studId: studId},
            success: function (response) {
                if (response) {
                    console.log("MODE" + mode);
                    if (mode === 1)
                        $('#imageIn').attr('src', "data:image/jpg;base64," + response);
                    else if (mode === 2)
                        $('#imageOut').attr('src', "data:image/jpg;base64," + response);
                }
            },
            error: function (response) {
                console.log("Error pulling image.");
            }
        });
    }
    //]]>
</script>

</body>
</html>