<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>St. Mark's | Send SMS</title>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div id="wrapper">
    <div class="container-fluid" style="background-color: #122b40;">
        <div class="row" style="  background-color: #122b40;">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!-- ETO SIMULA NG PAGE -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> ANNOUNCEMENT </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->

        <div class="row">
            <!--removed 5/5/18-->
            <!--<input type="checkbox" data-toggle="toggle" data-on="SMS" data-off="NOTIFICATION"/>-->
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Select Grade</label>
                        <select id="groups" class="form-control">
                            <option th:each="gradeLevel : ${gradeLevels}" th:value="${gradeLevel.id}"
                                    th:text="${gradeLevel.gradeLevel}"></option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Select Section</label>
                        <select id="sub_groups" class="form-control">
                            <option th:each="sec : ${sections}" th:value="${sec.id}" th:text="${sec.section}"></option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Select Student</label>
                        <select class="form-control" name="" id="stud_group">
                            <option value="0">Everyone</option>
                            <option></option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

                <div class="row" style="padding: 20px">

                    <div class="col-lg-6">

                        <textarea id="message" class="form-control" rows="3"
                                  th:required="required" placeholder="Enter Message Here"></textarea>
                    </div>
                    <br/>
                    <br/>

                </div>
                <button type="submit" onclick="getContactNumbers()" class="btn btn-primary" style="padding: 20px ">
                    SEND
                </button>

                <!--<textarea  style="margin: 0px; width: 446px; height: 85px;" maxlength="140"></textarea>-->
            </div>
        </div>

    </div>
    <!--SEND TO: <input id="prefix" type="text" disabled="disabled" value="63" placeholder="+63" maxlength="4"/> <input type="text" id="to"/>-->
    <!--<label>Format: +63 XXXXXXXXXX</label>-->


    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


<script type="text/javascript">
    var firstSection = $("#sub_groups").val();

    $.ajax({
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        url: '/getContactNumbersBySectionId?sectionId=' + firstSection,
        success: function (response) {
            $('#stud_group').empty();
            $('#stud_group').append(new Option("Everyone", -1));
            response.students.forEach(function (item) {
                $('#stud_group').append(new Option(item.firstName + " " + item.lastName, item.id));
            });
        }
    });

    $("#sub_groups").on("change", function () {
        firstSection = $("#sub_groups").val();

        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/getContactNumbersBySectionId?sectionId=' + firstSection,
            success: function (response) {
                $('#stud_group').empty();
                $('#stud_group').append(new Option("Everyone", -1));
                response.students.forEach(function (item) {
                    $('#stud_group').append(new Option(item.firstName + " " + item.lastName, item.id));
                });
            }
        });
    });

    function getContactNumbers() {
        var gradeLevelId = $("#groups").val();
        var sectionId = $("#sub_groups").val();
        var studentId = $("#stud_group").val();
        var message = $("#message").val();

        try{
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: '/postMessage',
                data: JSON.stringify({
                    gradeLevelId: gradeLevelId,
                    sectionId: sectionId,
                    studentId: studentId,
                    message: message
                }),
                success: function(response){

                }
            });
        }catch(e){ console.log(e); }

        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/getContactNumbers/' + gradeLevelId + '/' + sectionId + '/' + studentId,
            success: function (response) {
                console.log("Numbers", response);
                response.numbers.forEach(function (num) {
                    if(num === null) {
                        //Filter do nothing
                    }else {
                        for(var x=0; x<response.numbers.length; x++){
                            if(response.toggleNotif[x] === true)
                                sendSms(response.numbers[x]);
                        }
                        // response.toggleNotif.forEach(function(smsNotif){
                        //     console.log(smsNotif);
                        //     if(smsNotif === true) {
                        //         if(null != num)
                        //             if('' != num)
                        //                 sendSms(num);
                        //     }
                        //
                        // })
                    }
                });
                sendNotif();
                alert("Notification sent out!.");
            }
        })
    }

    function sendSms(number) {
        var message = $("#message").val();
        $.get("http://gateway.onewaysms.ph:10001/api.aspx", {
            apiusername: "APIE4DYUT3XMS",
            apipassword: "APIE4DYUT3XMSE4DYU",
            mobileno: number,
            senderid: "292903166",
            languagetype: "1",
            message: message
        }, function (data, status) {

        });
    }

    function sendNotif() {
        var message = $("#message").val();
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: 'https://api.pushover.net/1/messages.json',
            data: JSON.stringify({
                token: 'amvynd3otghr79ngfr9n9u8yfz3bwi',
                user: 'urn6vtkgeu2vpuz8ciaseo5wvn3f7c',
                device: 'cam-l21',
                message: message
            }),
            success: function (response) {
                console.log(response);

//                proceedSMS(response.contactNo);
            },
            error: function () {
                console.log("Error sending notif.");
            }
        });
        alert("Success push notif.");
    }

    $("#groups").on("change", function () {
        var gradeLevel = $(this).val();
        console.log("ID: " + gradeLevel);
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/selectGradeLevel?gradeLvlId=' + gradeLevel,
            success: function (response) {
                $('#sub_groups').empty();
                $('#sub_groups').append(new Option("Everyone", -1));
                response.section.forEach(function (item) {
                    $('#sub_groups').append(new Option(item.section, item.id));
                });
            }
        });
    });
</script>
</body>
</html>