<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>AquaJMT | Student Info </title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
</head>
<body id="studentInfo">
<div class="container-fluid">
    <div class="row">
        <div class="">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Student</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        You can add Student Details here.
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" th:object="${student}" th:action="@{/updateStudent}" method="post">
                                    <div class="form-group id">
                                        <label>Student ID</label>
                                        <input disabled="disabled" class="form-control" placeholder="First Name"
                                               th:field="*{id}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input disabled="disabled" class="form-control" placeholder="First Name"
                                               th:field="*{firstName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input disabled="disabled" class="form-control" placeholder="Last Name"
                                               th:field="*{lastName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Middle Initial</label>
                                        <input disabled="disabled" class="form-control" placeholder="Middle Initial"
                                               th:field="*{middleName}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Birthdate</label>
                                        <input type="date" class="form-control" placeholder="BirthDate"
                                               th:field="*{bday}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Birth place</label>
                                        <input disabled="disabled" class="form-control" placeholder="BirthPlace"
                                               th:field="*{place}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Citizenship</label>
                                        <input disabled="disabled" class="form-control" placeholder="Citizenship"
                                               th:field="*{citizenship}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input disabled="disabled" class="form-control" placeholder="Student Address"
                                               th:field="*{address}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Number</label>
                                        <input disabled="disabled" class="form-control" placeholder="Contact Number"
                                               th:field="*{contactNo}"/>
                                    </div>
                                    <button th:type="submit" class="btn btn-success btn-lg" id="btnUpdate">UPDATE
                                    </button>
                                </form>
                                <button class="btn btn-success btn-lg" id="btnEdit">EDIT</button>

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!--<div class="form-group">-->
                                <!--<label style="color: black">Grade Level</label>-->
                                <!--<select id="selected" name="gradeLvlId">-->
                                    <!--<option  th:each="gradeLevel  : ${gradeLevel}" th:text="${gradeLevel.gradeLevel}" th:value="${gradeLevel.id}" th:field="*{gradeLvlId}">-->
                                    <!--</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Section</label>-->
                                <!--<select id="section" name="section">-->
                                    <!--<option  th:each="section  : ${section}" th:text="${section.section}" th:value="${section.id}" th:field="*{section}">-->
                                    <!--</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <div class="col-lg-6">
                                <form method="POST" enctype="multipart/form-data" th:action="${'/upImage'}">
                                    <table>
                                        <tr>
                                            <td>File to upload:</td>
                                            <td><input type="file" name="file"/></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input type="submit" value="Upload"/></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
</div>
<script th:inline="javascript">
    //Initialize firebase to web APP
    //TODO: Replace with your project Customized code snippet

    $("#btnUpdate").hide();
    $("#btnEdit").on("click", function () {
        $(".form-control").removeAttr('disabled');
        $("#btnUpdate").show();
        $("#btnEdit").hide();
    });


    //    var config ={
    //        apiKey: "",
    //        authDomain: "",
    //        databaseUrl: "",
    //        projectId: "",
    //        storageBucket: "",
    //        messagingSenderId: ""
    //    };
    //
    //    firebase.initializeApp(config);

    $("body").on("change", "#selected", function() {
        var gradeLvlId = $(this).val();
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/selectGradeLevel',
            data: {gradeLvlId: gradeLvlId},
            success: function (response) {
                $('#section').empty();
                response.section.forEach(function (item) {
                    $('#section').append(new Option(item.section, item.id));
                });
            }
        });
    });

</script>
</body>
</html>