<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>St. Mark's | Summary Report</title>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="../../static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.js"></script>

    <script>
        $(document).ready(function () {
            $('#summaryReportId').DataTable({
                "order":[[0, "desc"]],
                "searching": false,
                "autoWidth": true
            });
        });
    </script>
</head>
<body>

<div id="wrapper">
    <div class="container-fluid" style="background-color: #122b40;">
        <div class="row" style="  background-color: #122b40;">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!-- ETO SIMULA NG PAGE -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header"> Summary of Report</h1>
            </div>
            <div class="col-lg-4">
                <button type="button" id="generateReport" class="btn btn-primary" style="float:right">Generate Report</button>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <form th:object="${attendanceParams}" th:action="@{/summaryReport}" method="GET">
            <p id="date_filter">
                <span id="date-label-from" class="date-label">Date From: </span><input th:field="*{dateFrom}" class="date_range_filter date" type="datetime-local" id="datepicker_from" />
                <span id="date-label-to" class="date-label">Date To:</span><input th:field="*{dateTo}" class="date_range_filter date" type="datetime-local" id="datepicker_to" />
                Filter By Name: <input th:field="*{searchString}" type="text" id="searchString"/>
                <button type="submit" id="btnSearch">Filter</button>
            </p>
        </form>
        <!-- /.row -->
        <table width="100%" class="table table-striped table-bordered table-hover"
               id="summaryReportId">
            <thead>
            <tr>
                <th th:hidden="true"></th>
                <th>Reference Number</th>
                <th>Date</th>
                <th>Offense Type</th>
                <th>Student Last Name</th>
                <th>Student First Name</th>
                <th>Student Middle Name</th>
                <th>Grade/Section</th>
                <th>Parent/Guardian</th>
                <th>Guidance Counselor</th>
                <th>Violation</th>
                <!--<th>Cost per Bottle</th>
                <th>No. of Slim</th>
                <th>Cost per Bottle</th>
                <th>Total Cost</th>-->
            </tr>
            </thead>
            <tbody >
            <tr th:each="sums : ${summaryList}">
                <td th:hidden="true" th:text="${sums.createdOn}"></td>
                <td th:text="${sums.id}"></td>
                <td th:text="${sums.dateOfIncident}"></td>
                <td th:text="${sums.caseOfIncident}"></td>
                <td th:text="${sums.lastName}"></td>
                <td th:text="${sums.firstName}"></td>
                <td th:text="${sums.middleName}"></td>
                <td th:text="${sums.gradeAndSection}"></td>
                <td th:text="${sums.nameOfGuardian}"></td>
                <td th:text="${sums.createdBy}"></td>
                <td th:text="${sums.violation}"></td>
            </tr>
            <!--<tr class="odd gradeX">-->
            <!--<td th:text="${attendance.logType}"></td>-->
            <!--<td th:text="${attendance.logDateTime}"></td>-->
            <!--</tr>-->
            </tbody>
        </table>

        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<script type="text/javascript" th:inline="javascript">
    //<![CDATA[
    // Initialize Firebase

    //Declaring variables

    $(document).ready( function () {
        $('#myTable').DataTable();
    } );

    //Image on PDF
    function getImgFromUrl(logo_url, callback) {
        var img = new Image();
        img.src = logo_url;
        img.onload = function () {
            callback(img);
        };
    }

    function generatePDF(img){
        // var options = {orientation: 'p', unit: 'mm', format: custom};
        // var doc = new jsPDF(options);
        // doc.addImage(img, 'JPEG', 0, 0, 100, 50);
        var pdf = new jsPDF('p', 'pt');

        var elem = document.getElementById("summaryReportId");
        var res = pdf.autoTableHtmlToJson(elem);
        pdf.addImage(img, 'PNG', 0, 0, pdf.internal.pageSize.width, 60);
        // pdf.text(7, 150, "St Marks Guidance Summary Report");
        pdf.autoTable(res.columns, res.data, {margin: {top:80}});
        pdf.save('summary_report.pdf');
    }

    //END NEW CODE

    $('#generateReport').click(function () {

        //TEST
        var logo_url = "/static/images/banner.png";
        getImgFromUrl(logo_url, function (img) {
            generatePDF(img);
        });
        //END TEST

    });

    var map = /*[[${summaryList}]]*/ [];

    function downloadCSV(args) {
        var data, filename, link;
        var csv = convertArrayOfObjectsToCSV({
            data: map
        });
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }
    function convertArrayOfObjectsToCSV(args) {
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function (item) {
            ctr = 0;
            keys.forEach(function (key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
            });
            result += lineDelimiter;
        });

        return result;
    }
    //]]>
</script>




</body>
</html>