<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>St. Mark's | Summary Report</title>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="../../static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.dataTables.min.css"/>
    <script>
        $(document).ready(function () {
            $('#summaryReportId').DataTable();
        });
    </script>
</head>
<body>

<div id="wrapper">
    <div class="container-fluid" style="background-color: #122b40;">
        <div class="row" style="  background-color: #122b40;">
            <div class="">
                <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            </div>
        </div>
    </div>

    <!-- ETO SIMULA NG PAGE -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Summary of Report</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->




        <table width="100%" class="table table-striped table-bordered table-hover"
               id="summaryReportId">
            <thead>
            <tr>
                <th>Date</th>
                <th>Offense Type</th>
                <th>Student Name</th>
                <th>Year/Level</th>
                <th>Parent/Guardian</th>
                <th>Guidance Counselor</th>
                <!--<th>Cost per Bottle</th>
                <th>No. of Slim</th>
                <th>Cost per Bottle</th>
                <th>Total Cost</th>-->
            </tr>
            </thead>
            <tbody >
            <tr th:each="sums : ${summaryList}">
                <td th:text="${sums.dateOfIncident}"></td>
                <td th:text="${sums.caseOfIncident}"></td>
                <td th:text="${sums.studentName}"></td>
                <td th:text="${sums.dateOfIncident}"></td>
                <td th:text="${sums.nameOfGuardian}"></td>
                <td th:text="${sums.guidance}"></td>
            </tr>
            <!--<tr class="odd gradeX">-->
            <!--<td th:text="${attendance.logType}"></td>-->
            <!--<td th:text="${attendance.logDateTime}"></td>-->
            <!--</tr>-->
            </tbody>
        </table>

        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<script type="text/javascript">
    // Initialize Firebase

    //Declaring variables

    var studId;

    $("#btnSearch").on("click", function () {
        console.log("Clicked");
        studId = $("#studId").val();
        $.ajax({
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            url: '/getAttendanceLogsDetails',
            data: {studId: studId},
            success: function(response){
                $('#tableBody').empty();
                console.log(response);
                $.each(response, function(key,value){
                    console.log(value);
                    $('#tableBody').append('<tr class="odd gradeX"><td>' + value.logType + '</td>' +
                        '<td>' + value.logDateTime + '</td>' +
                        '<td>' + value.firstName + '</td>' +
                        '<td>' + value.lastName + '</td></tr>')
                })
            },
            error: function(response){
                console.log("Error.")
            }

        });
    });
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );



    //

</script>




</body>
</html>